{% extends 'base.html' %}
{% block title %} {{tool.name}} Details | Tool Share {% endblock %}
{% block content %}

{% set BODY = "I'm interested in your " %}

<div class="container row align-items-center justify-content-center">
      
    <div class="card tool-card mt-5">
        <img class="card-img-top"  src="{{tool.img_url}}" alt="Card image cap">
        <div class="card-body">
            <p>
                {% if tool.available == True %}
                <span class="badge badge-success">Available!</span>
                {% else %}
                <span class="badge badge-danger">Unavailable</span>
                {% endif %}
            </p>
        <h5 class="card-title">{{tool.name}}</h5>
        <p class="card-text">Location: {{tool.location_id}}</p>
        <p class="card-text">Owned By: {{tool.owner.first_name}}</p>
        <p class="card-text">Description: {{tool.description}}</p>
        {% if tool.owner.username == session["username"] %}
        <form style="display:inline" action="/tools/{{tool.id}}/delete" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <a href="/tools/{{tool.id}}/update" class="btn btn-sm btn-secondary">Edit</a>
        {% else %}
            <!-- CONTACT BUTTON -->
            <div class="dropdown show mt-5">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Email the Owner
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to={{tool.owner.email}}&su={{tool.name}}&body={{BODY}}{{tool.name}}">
                        <span><img src="/../../static/images/gmail-logo.png" alt="gmail logo"></span>
                        Gmail
                    </a>
                    
                    <a class="dropdown-item" target="_blank" href="https://outlook.live.com/owa/#subject={{tool.name}}&body=BODY&to={{tool.owner.email}}&path=%2fmail%2faction%2fcompose">
                        <span><img src="/../../static/images/outlook-logo.png" alt="gmail logo"></span>
                        Outlook (Hotmail/Live)
                    </a>
                    
                    <a class="dropdown-item" target="_blank" href="http://compose.mail.yahoo.com/?to={{tool.owner.email}}&subj={{tool.name}}&body=BODY">
                        <span><img src="/../../static/images/yahoo-logo.png" alt="gmail logo"></span>
                        Yahoo
                    </a>

                    <a class="dropdown-item" target="_blank" href="mailto:{{tool.owner.email}}">
                        <span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg></span>
                        Other
                    </a>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}