.alert {
    margin-bottom: 0;
}

.avatar {
    border-radius: 50%;
    max-width: 200px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* HOMEPAGE STYLING */
#second-section {
    background-color: #a0b7bc;
    min-height: 400px;
}

#third-section {
    min-height: 400px;
}

/* MAP LIST STYLE HERE */
#list-view {
    display: none;
}

#map {
    height: 93vh !important;
}

/* PROFILE STYLING HERE */

.ts-profile img.ts-image-lg {
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.ts-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px) {
    .ts-profile-text>h1 {
        font-weight: 700;
        font-size:16px;
    }
    .ts-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}


/* TOOL DETAILS STYLING */
.tool-card {
    max-width: 400px;
}