{% extends 'base.html' %}
{% block title %} Welcome | Tool Share {% endblock %}
{% block content %}
<div class="container">
  <!-- room selection -->
  <nav id="sidebar">
    {% for chat in chats %}
      <p class="select-chat">{{ chat|title }}</p>
    {% endfor %}
  </nav>

  <!-- Message Area -->
  <div id="rightside-panel">

    <!-- display message -->
    <div id="display-message-section">

    </div>

    <!-- input message -->
    <div id="input-area">
      <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
      <button type="button" id="send_message">SEND</button>
    </div>

  </div>
    
</div>
<!-- Get username -->
<script type="text/javascript">
  const username = `{{ username|e }}` ;
</script>
<!-- SOCKET IO -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- custom socket js -->
<script src="{{ url_for('static', filename='socketio.js')}}"></script>
<!-- custom js -->
<script src="{{ url_for('static', filename='chat_page.js')}}"></script>
{% endblock %}

