{% extends 'base.html' %}
{% block title %} Welcome | Tool Share {% endblock %}
{% block head %}
    <!-- Mapquest SDK -->
    <!-- ******************************* -->
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

{% endblock %}
{% block content %}
<div class="container">
<h2>I am Map</h2>
</div>
<div id="map" style="width: 100%; height: 530px;"></div>
<div class="container">
<h2 class="mt-5">Tools Available</h2>
<table class="table">
    <tr>
        <th>Tool Name</th>
        <th>Location</th>
    </tr>
    {% for tool in tools %}
        <tr>
            <td><a href="/users/{{tool.owner.username}}/tools/{{tool.id}}">{{tool.name}}</a></td>
            <td>{{tool.location_id}}</td>
        </tr>
    {% endfor %}
</table>

</div>
<script>
    L.mapquest.key = 'KEY';

    // 'map' refers to a <div> element with the ID map
    L.mapquest.map('map', {
        center: {{center}},
        layers: L.mapquest.tileLayer('map'),
        zoom: 12
    });
</script>
{% endblock %}