{% extends 'base.html' %}
{% block title %} Profile | Tool Share {% endblock %}
{% block content %}

<div class="container">
    <h1>Information for, {{user.first_name}}</h1>

    <p>Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Location: {{user.zip_code}}</p>



    <a class="btn btn-primary" href="/users/{{user.username}}/tools/add">Add A Tool</a>

    <h3 class="mt-4">Tools Owned</h3>
    <ul>
        {% for tool in user.tools %}
        <li>
            <a href="#">{{tool.name}}</a> 
            <!-- dont forget to delete the ul style -->
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}