{% extends 'base.html' %}
{% block title %} Profile | Tool Share {% endblock %}
{% block content %}

<div class="container">
    <div class="ts-profile">
        <img align="left" class="ts-image-lg" src="/../../static/images/user-images/profile-header.jpg" alt="header image"/>
        <img align="left" class="ts-image-profile thumbnail avatar" src="{{curr_user.img_url}}" alt="profile picture"/>
        <div class="ts-profile-text">
            <h1>{{prof_user.first_name}} {{prof_user.last_name}}</h1>
            <p>Location: {{prof_user.zip_code}}</p>
        </div>
    </div>
    {% if curr_user == prof_user %}
    <a class="btn btn-primary" href="/tools/add">Add A Tool</a>
    <a class="btn btn-secondary" href="/users/{{curr_user.username}}/update">Edit My Account</a>
    <form style="display: inline;" action="/users/{{curr_user.username}}/delete" method="POST">
        <button onclick="return confirm('Are you sure you want to delete? This action is irreversible.');" class="btn btn-danger" type="submit">Delete My Account</button>
    </form>
    {% endif %}
    <br>
    <h3 class="mt-4">Tools Owned</h3>
    <div class="d-flex flex-wrap align-items-middle">
        {% for tool in prof_user.tools %}
            <div class="card m-3 flex-fill" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{tool.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Description</h6>
                <p class="card-text">{{tool.description}}</p>
                <a href="/tools/{{tool.id}}" class="card-link">View</a>
            </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- 
<div class="container">
    <img class="img-fluid profile-header" src="/../../static/images/user-images/profile-header.jpg" alt="">
    <div class="mt-n5">
        <img class="avatar mt-n5 d-inline" src="{{curr_user.img_url}}" alt="profile picture">
        <h1 class="h3 d-inline">{{prof_user.first_name}} {{prof_user.last_name}}</h1>
    </div>

    <p>Email: {{prof_user.email}}</p>
    <p>Location: {{prof_user.zip_code}}</p>

    {% if curr_user == prof_user %}
    <a class="btn btn-primary" href="/tools/add">Add A Tool</a>
    <a class="btn btn-secondary" href="/users/{{curr_user.username}}/update">Edit My Account</a>
    <form style="display: inline;" action="/users/{{curr_user.username}}/delete" method="POST">
        <button onclick="return confirm('Are you sure you want to delete? This action is irreversible.');" class="btn btn-danger" type="submit">Delete My Account</button>
    </form>
    {% endif %}

    <h3 class="mt-4">Tools Owned</h3>
    <ul>
        {% for tool in prof_user.tools %}
        <li>
            <a href="/tools/{{tool.id}}">{{tool.name}}</a> 
        </li>
        {% endfor %}
    </ul>
</div> -->
{% endblock %}