{% extends 'base.html' %}
{% block title %} Profile | Tool Share {% endblock %}
{% block content %}

<div class="container">
    <h1>Information for, {{prof_user.first_name}}</h1>

    <p>Name: {{prof_user.first_name}} {{prof_user.last_name}}</p>
    <p>Username: {{prof_user.username}}</p>
    <p>Email: {{prof_user.email}}</p>
    <p>Location: {{prof_user.zip_code}}</p>

    {% if curr_user == prof_user %}
    <a class="btn btn-primary" href="/users/{{curr_user.username}}/tools/add">Add A Tool</a>
    {% endif %}

    <h3 class="mt-4">Tools Owned</h3>
    <ul>
        {% for tool in prof_user.tools %}
        <li>
            <a href="/users/{{prof_user.username}}/tools/{{tool.id}}">{{tool.name}}</a> 
            <!-- dont forget to delete the ul style -->
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}